{% extends "::base.html.twig" %}

{# Title of the Page #}
{% block title %}{{ parent() }} - {{ 'gallery.list.title'|trans }}{% endblock %}

{# Content of the Page #}
{% block content %}
    <h1 class="sr-only">{{ 'gallery.list.title'|trans }}</h1>

    <div class="row galleries" data-ng-app="gallery" data-ng-cloak="">
        <div class="galleries-list col-md-2 text-right">
            <ul>
                {% for gallery in galleries %}
                    <li {% if current is not empty and gallery.id == current.id %}class="active"{% endif %}>
                        <a href="{{ url('galleries', { id: gallery.id }) }}">{{ gallery.name }}</a>
                        {% if current is not empty and gallery.id == current.id %}<span class="sr-only">({{ 'app.nav.current'|trans }})</span>{% endif %}

                        {#<div class="pull-left">

                        <a href="{{ path('gallery_form', {id: gallery.id}) }}" class="btn btn-link">
                            <span class="fa fa-pencil"></span>
                            <span class="sr-only">edit</span>
                        </a>
                        </div>#}
                    </li>
                {% endfor %}
            </ul>

            <div class="galleries-actions text-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="" class="btn btn-primary">
                        <span class="fa fa-fw fa-pencil"></span>
                        <span class="sr-only">edit</span>
                    </a>
                    <a href="" class="btn btn-danger">
                        <span class="fa fa-fw fa-trash-o"></span>
                        <span class="sr-only">delete</span>
                    </a>
                {% endif %}
            </div>
        </div>

        {% if current is defined and current is not empty %}
            <h2 class="sr-only">{{ current.name }}</h2>
            <photo-slideshow class="col-md-10" data-photos="{{ current.pages | json_encode | escape }}"></photo-slideshow>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('dist/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dist/js/Gallery/PhotoSlideshow.js') }}"></script>
{% endblock %}