{% extends "::base.html.twig" %}

{# Title of the Page #}
{% block title %}{{ parent() }} - {{ 'about.edit.title'|trans }}{% endblock %}

{# Content of the Page #}
{% block content -%}
    <h1 class="sr-only">{{ 'about.edit.title'|trans }}</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ form_start(form) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_row(form.presentation) }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_rest(form) }}
                </div>
            </div>

            <div class="btns-bottom text-right">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-check"></span>
                    {{ 'app.action.save'|trans }}
                </button>
                <a href="{{ path('blog') }}" class="btn btn-default">
                    <span class="fa fa-times"></span>
                    {{ 'app.action.cancel'|trans }}
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
